{%extends 'base.html' %}
{%load staticfiles %}
{%block scriptblock %}
    <script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/custom.js'%}"></script>
{%endblock %}
{%block menu3 %}
    selected
{%endblock %}
{%block content %}

    <div class="instance">
        <h3>{{smth.title}}</h3>
        <p>
                 Добавлено: {{smth.added}}
                 Просмотров: {{smth.views}}
                 Понравилось: <span class="likes_count">{{smth.likes}}</span>
                 {% csrf_token %}
                 <a href="/" data-model="Article" data-id="{{smth.id}}" class="liker">Проголосовать</a>
        </p>
        <p>
            {{smth.content}}
        </p>
        <hr>
        <p>
            {% if smth.allow_comments %}
                {%include 'inc_comments_show.html' %}
                {% if user.is_authenticated %}
                    <p>Добавить комментарий</p>
                    <form method="post" action="/comment/add/">
                        {% csrf_token %}
                        <textarea name="content">

                        </textarea>
                        <input type="hidden" name="subject_type" value="Article">
                        <input type="hidden" name="id" value="{{smth.id}}">
                        <input type="submit" value="Запостить">
                    </form>

                {%endif %}
            {%endif %}

    </div>




{%endblock %}