{%load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
  <title>simplestyle_horizon</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />

  <link rel="stylesheet" type="text/css" href="{%static 'css/base.css'%}" />
</head>

<body>

{%for instance in content %}
    <h2>{{instance.name}}</h2>
    <p> <form action='/cadmin/edit/' method='POST'>
                    {%csrf_token %}
                    <input type='hidden' name='model' value='{{instance.name}}'>

                    <input type='submit'  value='Добавить запись'>

                </form>
    </p>
    <table>
    {%for row in instance.our_queryset %}
        <tr>
            <td>{{row}} </td>
            <td> 
                <form action='/cadmin/del/' method='POST'>
                    {%csrf_token %}
                    <input type='hidden' name='model' value='{{instance.name}}'>
                    <input type='hidden' name='id' value='{{row.id}}'>
                    <input type='submit'  value='Удалить'>
                
                </form>
            </td>
            
            <td> 
                <form action='/cadmin/edit/' method='POST'>
                    {%csrf_token %}
                    <input type='hidden' name='model' value='{{instance.name}}'>
                    <input type='hidden' name='id' value='{{row.id}}'>
                    

                    <input type='submit'  value='Редактировать'>

                </form>
            </td>
        </tr>
    {%empty %}
        <tr><td>Таблица пустая</td><td></td></tr>
    {%endfor %}
</table>
{%endfor %}

</body>
