{%load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
  <title>simplestyle_horizon</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />

  <link rel="stylesheet" type="text/css" href="{%static 'css/base.css'%}" />
</head>

<body>
{{formdict}}
<div>
                <form action='/cadmin/save/' method='POST'>
                    {%csrf_token %}

                    <table>

                    {%for field in form %}
                    <tr>
                        <td>{{field.label_tag}}</td><td>{{field}}</td><td>{{field.errors|join:","}}</td>
                    </tr>
                    {%endfor %}
                    </table>
                    
                    <input type='hidden' name='model' value='{{model}}'>
                    <input type='hidden' name='id' value='{{id}}'>
                    <input type="submit" value="послать">
                
                </form>
           </div>
</body>
